.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.menuButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.menuButton{
    width: 200px;
    height: 50px;
    border: 1px solid lightgray;
    background-color: rgb(75, 194, 75);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 5px;
}